@if (paginatedMembers(); as paginatedMembers) {
  <div class="flex flex-col w-full">
    <div class="flex justify-between items-center">
      <div class="tabs tabs-box tabs-lg text-primary w-fit">
        @for (tab of tabs; track $index) {
          <button role="tab" class="tab" [class.tab-active]="likesParameters.predicate === tab.value"
            (click)="setPredicate(tab.value)">
            {{ tab.label }}
          </button>
        }
      </div>

      @if(paginatedMembers.paginationMetadata; as metadata) {
        <app-paginator [hidden]="metadata.totalCount === 0"
                       [paginationData]="metadata"
                       (pageChanged)="onPageChanged($event)" />
      }
    </div>

    @if (paginatedMembers.items; as members) {
      @if(members.length > 0) {
        <div class="grid grid-cols-5 gap-6 mt-3">
          @for (member of members; track member.id) {
            <app-member-card [member]="member" />
          }
        </div>
      } @else {
        <div class="text-2xl font-semibold w-full text-center mt-15">
          There are no results for this filter
        </div>
      }
    }
  </div>
}